@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 150 8% 97%;
    --foreground: 160 30% 10%;
    --card: 0 0% 100%;
    --card-foreground: 160 30% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 160 30% 10%;
    --primary: 153 60% 28%;
    --primary-foreground: 0 0% 100%;
    --secondary: 270 40% 30%;
    --secondary-foreground: 0 0% 98%;
    --muted: 150 10% 92%;
    --muted-foreground: 160 10% 42%;
    --accent: 0 65% 48%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 150 10% 88%;
    --input: 150 10% 88%;
    --ring: 153 60% 28%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
